@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

html {
    scroll-behavior: smooth;
    box-sizing: border-box; /* To include padding and border to the width and heigth when calculating the size of an element */
    line-height: 1.25em; 
    font-family:'Montserrat', sans-serif;
    height: 100vhgit ;
  }
  
  *, *:before, *:after { /* To ensure consistent sizing through doc */
    box-sizing: inherit; /* Inherit from its parent */
  }

  nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #495057;
    opacity: 0.9;
    padding: 10px;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

  }
  
  nav a {
    text-decoration: none;
    color: #f8f9fa;
    font-weight: bold;
    margin:  0 10px;
  }
  
  body {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #212529; 
    color: #f8f9fa; 
  }
  
  main {
    margin: auto;
    font-size: 1rem;
    font-weight: 400;
    color: #f8f9fa; 
    width: 100%;
    max-width: 1200px;
    margin-top: 80px;
    
  }

  .media-item-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


  }

  .media-item img {
    width: 100%;
    width: 15rem;
    height: 15rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgb(240, 248, 248);  /* flex-grow flex-schrink flex-basis */
    margin-bottom: 10px;

  }

  .media-item {
    display: flex;
    flex-direction: column;
    flex: 0 1 calc(25% - 10px);
    margin-bottom: 20px;
    text-align: center;
    align-items: center;


  }

  small {
    color: #a5a5a5;
  }


footer {
    color: #a5a5a5;
    text-align: center;
    padding: 10px;
  }

  .media-item img:hover{ 
    box-shadow: 0 4px 8px rgb(199,20,23);

  }





  @media screen and (min-width: 841px) and (max-width: 1059px) {
    .media-item {
        flex: 0 1 calc(33.33% - 10px);
    }
   
    
  }

  @media screen and (min-width: 652px) and (max-width: 841px) {
    .media-item {
        flex: 0 1 calc(50% - 10px);
    }
    
  }



  @media screen and  (max-width: 651px) {
    .media-item {
        flex: 0 1 100%;

    }
    .nav-container {
        flex-direction: column;
        text-align: center;
    }

    nav a {
        margin:  5px 10px;
    }
    
  }
