html {
  scroll-behavior: smooth;
  box-sizing: border-box; /* To include padding and border to the width and heigth when calculating the size of an element */
}

*, *:before, *:after { /* To ensure consistent sizing through doc */
  box-sizing: inherit; /* Inherit from its parent */
}

body {
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5; 
}

main {
  margin: auto;
  font-family: FiraSans, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333; 
  width: 100%;
  max-width: 1200px;
  margin-top: 30px;
  
}

h1 {
  font-family: ReweMato, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
  color: #333;
  margin-top: 0;
}

article {
  display: grid;
  grid-template-columns: 1fr  2fr;
  align-items: center;
  gap: 30px;
  background-color: #fff; 
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

#mantu-image1 {
  width: 100%;
  height: auto;
  clip-path: circle();
}

.article-content {
  padding: 20px;
  line-height: 1.6;
}

#ingredients h3 {
  padding-left: 10px;
}

#ingredients {
  padding-left: 10px;
}

#ingredients tr {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 50px;
  padding-bottom: 10px;
}

.ing-col {
  padding-left: 29px;
}


#ing-Prep {
  display: grid;
  grid-template-columns: 1fr 2fr ;
  gap: 10px;
  width: 100%;
}

#column-left {
  background-color: #ddd; 
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}

#column-right {
  background-color: #ddd;
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}


nav {
  font-family: FiraSans, "Segoe UI", Helvetica, Arial, sans-serif;
  background-color: #343a40;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

footer {
  color:  #333;;
  text-align: center;
  padding: 10px;
}

#glossory {
  font-family: FiraSans, "Segoe UI", Helvetica, Arial, sans-serif;
}

#similar-recipes {
  margin: auto;
  font-family: FiraSans, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333; 
  width: 80%;
  max-width: 1200px;
  margin-top: 30px;
}
a {
  color: #2a628f;
}

.similar-list li a {
  font-family: FiraSans, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

.similar-list li ::before {
  content: "";
  display: block;
  background: url("resources/reciep.jpeg") no-repeat;


}

#aushak-recepie, #boolani-recepie {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px; 
  align-items: center;


}

#similar-recipes img {
  width: 40%;
  max-width: 100%;
  height: auto;
  clip-path:circle() ;
  margin-left: 100px;
}


.similar-table {
  border-collapse: collapse;
  width: 100%;
}

.similar-table a {
  text-decoration: none;

}
.similar-table  tr{
  display: grid;
  grid-template-columns: 4fr 2fr;
  align-items: center;
  

}


#recipe-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
  gap: 10px; 
  background-color: #cccccc;
  border-radius: 5px;
  padding-bottom: 10px; 
  margin-bottom: 20px;
}

.recipe-info {
  text-align: center;
}

h3 {
  margin-bottom: 0.5rem;
}

.prep {
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: center;
  justify-items: center;
  gap: 30px;
}

.prep img {
  width: 40%;
  max-width: 100%;
  height: auto;
  clip-path:circle();
  margin-bottom: 20px;
}

/* 
#tb-ingridients  th{ 
  padding-right: 50px ;
} */

@media (max-width: 768px) {
  #column-left,
  #column-right {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
  }
  article {
    grid-template-columns: 1fr;
    border-radius: 10px;
  }

  #mantu-image1 {
    margin-top: 9px;
    clip-path:circle() ;
  }


  #ing-Prep {
    grid-template-columns: 1fr;
  }

  .prep {

    grid-template-columns: 2fr;

  }
  }
